.uk-card-badge{ 
    background-color: red;
}
.uk-card-primary{
    background-color: rgb(87, 156, 131);
}

.uk-card {
    background-color: rgb(87, 156, 131);  
}

.uk-button{background-color: white;}

li{color:white;}
p{color:white;}
h3{color:white;}

.header{ 
    background-color:rgb(87, 156, 131);   
    border-bottom: 0.5rem solid rgb(59, 102, 86);
    height: 100px !important;
}

.uk-iconnav{
    color:white;
}

.cardTitle{
    color:white;
}

.uk-navbar-center {
    background-color: rgb(87, 156, 131) !important;
}
.uk-navbar-container{
    background-color: rgb(87, 156, 131) !important;
}
.logo{
    background-color: white;
}
.title{
    color:white !important;
}
.recorded{
    background-color: rgb(17, 164, 230);
}

.join{
    color:rgb(87, 156, 131) !important; 
}
.joinButton:hover{
background-color: white !important;
color:black !important; 
}

a{
    color:black !important;
    flex-shrink: 1000px !important;
    height:20px !important;
    
}
a:hover{
    
        color:rgb(59, 102, 86) !important; 
        text-decoration: none;
      
    }


.cardImage{
    border: 0.2rem solid rgb(59, 102, 86);  
}


h6:hover{
    background-color:gainsboro;
}


footer{
    background-color: rgb(87, 156, 131) !important;
    height:20px !important;
}

.chattoggle{
    background-color: rgb(189, 189, 189);
    height: 20px !important;
    width: auto !important;

}

.containerbox{
    background-color: rgb(189, 189, 189, 0);
}

.listContainer{
 background-color:  rgb(59, 102, 86);  
}

.headerButton{
    background-color: white;
    width:125px !important;
    height: 40px !important;
    align-items: center !important;
    text-align: center !important;
    margin: auto !important;
    margin-left: 25px !important;
    
}
.headerButton a{
    text-align:center !important;
    margin: 0 auto !important;
display:table !important;
margin-top:10px !important;
}

h5{
    margin-left: 140px;
    margin-top: 55px;
    color:white;
}

.pushLeft{
    margin-left: 225px !important;
}

.browserframe{
    border: 0.2rem solid rgb(59, 102, 86) !important;  
}
.dropDownButton{
    border: 0.2rem solid rgb(0, 0, 0, 0.1) !important;  
    margin-top: 10px;
}

.dropDownButton:hover{
    border: 0.2rem solid rgb(0, 0, 0, 0.2) !important;  
}
.browser{
    background-color: white !important;
    
    height: 25px !important;
    width: 100px !important;
    text-align:center !important;
    margin: 0 auto !important;
    margin-top: 50px !important;

    
}
.browser a {
    text-align:center !important;
    margin: 0 auto !important;
display:table !important;
margin-left:8px !important;
margin-top: 2px !important;
}


.box {

    height:60px;
    width: 200px; 
  margin-right: 100px!important;
}




.appendCardBox {

    
  height:620px !important;
  width:400px !important;
  position:absolute !important;
  margin: 0 auto;
  left:35em;
  top:1em;
}

.cardhover{
    position:absolute !important;
  
    visibility: hidden;
}

.xButton{
width:30px !important;
}

.cardcontainer{
    height:500px !important;
    width:300px !important;
}

.videoButtons{
 
    width:25% !important;
    height:75px !important;
    margin: auto !important;
    position: inline !important;
    margin-top: 50% !important;
    margin-left: 32% !important;
}
.screenMenuButtons:hover{
    border: 0.2rem solid white !important;  
   
   
}
.screenMenuButtons{
    margin-left: 25px !important;
}

.navBox{
    width: 200px !important;
    height: 250px !important;
    border: 0.3rem solid rgba(255, 166, 0, 1) !important;   
    position: absolute !important;
    bottom:-116px !important;
    background-color: rgb(240, 240, 240);
}


.navBox1{
    width: 200px !important;
    height: 250px !important;
    border: 0.3rem solid rgba(255, 166, 0, 1) !important;   
    position: absolute !important;
    bottom:17px !important;
    background-color: rgb(240, 240, 240);
}
.wip{
    background-color: yellow;
    text-align: center;
    position:absolute;
    top:0px;
    left:0px;

}

.cardMain{padding:25px !important;}
.headline{

    left:500px !important;
    bottom: 0px!important;
}
.profile{
    margin-top: -2px!important;
    margin-left: 40px!important;
}
.box{
    
    margin: 0 auto;
    width:100px !important
}

.imageContainer{
    
    margin-left: 0px!important;
    margin-top: 5px !important
   
    
}



.iconHover{
    color:white
}

.iconHover:hover{
    color:rgb(59, 102, 86);
}

.profile:hover {
    border: 0.2rem solid rgb(59, 102, 86);  
}

.cardDivider1{
    height:10px;
}

.cardDivider2{
    height:90px;
}

.chatsettingsbox{


}



.hIcon{
    color: white !important;
    margin: 0 auto !important;
    margin-right: 30px !important;

   position:relative;
   bottom:3px !important
}

.chatContainer{
    width: 110% !important;
    height: 80px !important;
   
    background-color:rgb(87, 156, 131);   
    border: 0.2rem solid rgb(59, 102, 86);  
    
}
.userName{
    width: 75px !important;
    height: 30px!important;
    margin-top: -20px!important;
    background-color:rgb(87, 156, 131);  
    
 
 
}
.nameOfUser{
    color:white;
    top:-50px !important;
    margin-left: 15px!important ;
}
.text{
    width:100% !important;
    height: 80px !important;
    background-color: white;
}
.text p{
    color: black !important;
    margin-left: 10px !important;
}
.chatProfile{
    margin-left:15px!important;
   
}
.chatClose{
    height: 60px!important;
    width: 20px!important;
    background-color:rgb(87, 156, 131);  
    
    position:inline !important;
  margin-left:-20px !important;

}
.closeButton{
    color:white;
    margin-top: 90% !important;
}
.closeButtonNav{
    color:black;
    margin-left:43% !important;
    margin-top:-20px !important;
}

body{
    font-family: Arial;
}
.buttonsFlex{
 
    width: 100% !important;
 
}



.chatbox{
    background-color: white !important;
    height:100% !important;
    border-left: 0.5rem solid rgb(87, 156, 131);
}
.chatsettingsbox{
background-color: white !important;
height:120px !important;

}

.boxIcon{
margin-left: 5px!important;
margin-right: 5px!important;
}
.chatContainer{
    margin-top:25px!important;
    margin-bottom:25px!important;
    
}
.artistRole{
    border: 0.2rem solid rgb(240,59,59); 
}
.designerRole{
    border: 0.2rem solid rgb(98,199,68); 
}
.engineerRole{
    border: 0.2rem solid  rgb(17, 164, 230); 
}
input{
    width: 100% !important;
    height: 40px !important;
    position:line;
    margin-top: 250px!important;
}
small{
    position: absolute;
    margin-top:-30px!important;
    margin-left:35px!important;
}